a, a:visited{
    text-decoration: none;
    color: inherit;
}

.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.left-section{
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}

.header-menu{
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 24px;
    cursor: pointer;
    transition: color .2s, background-color .2s;
}

.header-menu:hover{
    color: white;
    background-color: black;
}


